<% provide(:title,'About Us') %>
<h1>About Us</h1>
<p>
 The <a href="http://arcane-beyond-6352.herokuapp.com//">Danceflix</a>
 is a video recommendation site based on your personal taste 
 which can helps you find the video in a totally new way!
</p>


