<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
         <%= render 'shared/user_info' %>
      </section>
      <secton>
         <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Videos From Followed Dancers</h3>
      <%= render 'shared/video' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Danceflix</h1>
    <h2>
      Your Personalized Dance Video Station
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
 
  </div>

<% end %>

