<div class="J-list">
      <div class="list-title">
        <h3>Freestyle Videos</h3>
        <span><%= link_to "More", categories_path+'/7' %></span>
      </div>
      <div class="button-left" id="c1f-left-button"></div>
      <div class="button-right" id="c1f-right-button"></div>
  <div class="video-feeds" id="category1-feeds">
      <ul class="video-feeds-container" id="cat1-feeds-container">
        <%= render partial: 'shared/video_item', collection: @category7_feeds %>
      </ul>
  </div>
</div>
<script>
$(document).ready(function(){
  var container = $('#cat1-feeds-container');
  $('#c1f-right-button').on('click',function(){
    console.log('check');
    console.log(container.length);
    var leftPos = container.position().left;
    var posNew = leftPos-746;
    container.css('left',posNew+'px');
  });
  $('#c1f-left-button').on('click',function(){
    console.log('check');
    var leftPos = container.position().left;
    console.log(leftPos);
    if(leftPos>=-12) {
      return;
    }
    var posNew = leftPos+746;
    container.css('left',posNew+'px');
  });
});
</script>

