<li id="<%= video_item.vid %>">
  <%= link_to video_item.dancer, video_item.dancer %>
  <br>
  <span class="video">
    <iframe <%= video_item.embed_html.gsub(/640/, '160').gsub(/360/,'90') %>></iframe>
  </span>

</li>
