<li id="<%= video_item.vid %>">
  <%= link_to video_item.dancer, video_item.dancer %>
  <span class="video">
    <iframe <%= video_item.embed_html.gsub(/<iframe/, ' ') %>></iframe>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(video_item.created_at) %> ago.
  </span>
</li>
