<li>
  <div class="dancer-info">
  <span class="content"><%= dancer.name %>:  <%= dancer.video_count %> Videos
  </span>
  </div>
  <% if signed_in? %>
    <% @dancer = dancer %>
    <%= render "dancers/follow_dancer_form" %>
  <% end %>

</li>
