<br />
<li>
  <h4><%= category.cName %></h4><br />
  <ul>
  <%= @dancers.each do |dancer| %>
    <% if dancer.category_id == category.id %>
      <li>
      <%= dancer.name %>
      </li>
    <% end %>
  <% end %>
  </ul>
</li>
