<%= form_for(current_user.user_cat_relationships.build(category_id: @category.id), 
             remote: true) do |f| %>
  <div><%= f.hidden_field :category_id %></div>
  <%= f.submit "Follow #{@category.cName} Genre", class: "btn btn-large btn-primary" %>
<% end %>









