<% provide(:title, @category.cName) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @category.cName %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_cat_form' if signed_in? %>

  </div>
</div>
