<footer class="footer">
  <small>
    <a href="http://http://arcane-beyond-6352.herokuapp.com//">Danceflix</a>
    by Xiaoxia Feng 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path  %></li>
      <li><%= link_to "Contact", contact_path  %></li>
      <li><a href="http://Youtube.com/">Youtube</a></li>
    </ul>
  </nav>
</footer> 
